.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
    margin-top: 10vh; 
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.success-message {
    color: green;
    margin-top: 5px;
}

.ant-form-item-explain {
    margin-top: 5px;
    color: red;
}

.srv-validation-message {
    color: red;
}

.form-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%; 
}

.forgot-password-link {
    color: #1890ff;
    text-decoration: underline;
}

.login-button {
    width: 100%;
}
